asgiref==3.6.0
attrs==23.1.0
autopep8==1.6.0
beautifulsoup4==4.12.2
boto3==1.26.1
botocore==1.29.122
brazilcep==6.0.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==42.0.8
defusedxml==0.7.1
dj-database-url==0.5.0
dj-static==0.0.6
Django==4.0.7
django-bootstrap4==23.1
django-cors-headers==3.14.0
django-crispy-forms==2.0
django-extensions==3.1.5
django-filter==23.2
django-localflavor==3.1
django-session-timeout==0.1.0
django-stdimage==6.0.1
django-storages==1.13.1
django-svg-image-form-field==1.0.1
django-templated-mail==1.1.1
django-tenants==3.4.4
django-widget-tweaks==1.4.12
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
djhtml==1.5.2
djoser==2.2.0
gunicorn==20.1.0
idna==3.4
isodate==0.6.1
isort==5.10.1
jmespath==1.0.1
JPype1==1.4.1
lxml==4.9.2
mpmath==1.3.0
oauthlib==3.2.2
packaging==23.1
Pillow==9.5.0
platformdirs==3.5.0
psycopg2-binary==2.9.6
pycep-correios==5.0.0
pycodestyle==2.10.0
pycparser==2.21
PyJWT==2.6.0
pyOpenSSL==24.1.0
pyreportjasper==2.1.2
python-dateutil==2.8.2
python-decouple==3.1
python-stdnum==1.18
python3-openid==3.2.0
pytz==2023.3
requests==2.29.0
requests-file==1.5.1
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
s3transfer==0.6.0
shortuuid==1.0.11
six==1.16.0
social-auth-app-django==5.2.0
social-auth-core==4.4.2
soupsieve==2.4.1
sqlparse==0.4.4
static3==0.7.0
sympy==1.12
toml==0.10.2
tzdata==2023.3
urllib3==1.26.15
whitenoise==6.2.0
zeep==4.2.1
