asgiref==3.8.1
attrs==23.2.0
autopep8==2.3.1
beautifulsoup4==4.12.3
boto3==1.34.149
botocore==1.34.149
brazilcep==6.3.1
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==43.0.0
defusedxml==0.7.1
dj-database-url==2.2.0
dj-static==0.0.6
Django==5.0.7
django-bootstrap4==24.3
django-cors-headers==4.4.0
django-crispy-forms==2.3
django-extensions==3.2.3
django-filter==24.2
django-localflavor==4.0
django-session-timeout==0.1.0
django-stdimage==6.0.2
django-storages==1.14.4
django-svg-image-form-field==1.0.1
django-templated-mail==1.1.1
django-tenants==3.6.1
django-widget-tweaks==1.5.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
djhtml==3.0.6
djoser==2.2.3
gunicorn==22.0.0
idna==3.7
isodate==0.6.1
isort==5.13.2
jmespath==1.0.1
JPype1==1.5.0
lxml==5.2.2
mpmath==1.3.0
oauthlib==3.2.2
packaging==24.1
pillow==10.4.0
platformdirs==4.2.2
psycopg2-binary==2.9.9
pycep-correios==5.2.0
pycodestyle==2.12.0
pycparser==2.22
PyJWT==2.8.0
pyOpenSSL==24.2.1
pyreportjasper==2.1.4
python-dateutil==2.9.0.post0
python-decouple==3.8
python-stdnum==1.20
python3-openid==3.2.0
pytz==2024.1
requests==2.32.3
requests-file==2.1.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
s3transfer==0.10.2
shortuuid==1.0.13
six==1.16.0
social-auth-app-django==5.4.2
social-auth-core==4.5.4
soupsieve==2.5
sqlparse==0.5.1
static3==0.7.0
sympy==1.13.1
toml==0.10.2
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
whitenoise==6.7.0
zeep==4.2.1
