asgiref
attrs
autopep8
beautifulsoup4
boto3
botocore
brazilcep
certifi
cffi
charset-normalizer
cryptography
defusedxml
dj-database-url
dj-static
Django
django-bootstrap4
django-cors-headers
django-crispy-forms
django-extensions
django-filter
django-localflavor
django-session-timeout
django-stdimage
django-storages
django-svg-image-form-field
django-templated-mail
django-tenants
django-widget-tweaks
djangorestframework
djangorestframework-simplejwt
djhtml
djoser
gunicorn
idna
isodate
isort
jmespath
JPype1
lxml
mpmath
oauthlib
packaging
Pillow
platformdirs
psycopg2-binary
pycep-correios
pycodestyle
pycparser
PyJWT
pyOpenSSL
pyreportjasper
python-dateutil
python-decouple
python-stdnum
python3-openid
pytz
requests
requests-file
requests-oauthlib
requests-toolbelt
s3transfer
shortuuid
six
social-auth-app-django
social-auth-core
soupsieve
sqlparse
static3
sympy
toml
tzdata
urllib3
whitenoise
zeep
